body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: 000;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}

ul, li {
    display: block;
}

.container {
    width: 1407;
    margin: 0 auto;
}
.container a {
    color: #000000;
    line-height: 14px;
    margin-right: 35px;
}